*{
    font-family: 'Poppins';
}

body{
    height: 50rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* BARRA DE NAVEGAÇÃO */
nav{
    background-color: #212026;
    height: 10vh;
} 

ul li{
    list-style: none;
    padding: 1rem;
    color: white;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul{
    display: flex;
    margin: 0;
    font-size: 1.2rem;
}

#logo{
    padding-right: 55rem;
}

/*  MAIN */
main{
    /* flex: 1; */
}

/* SHAPE E INTRODUÇÃO */
section#introd{
    height: 70vh;
    
}

/* POPULARES */

#eventos{
    background-color: #212026;
    padding-top: 1rem;
    height: 100vh;
}

#shows{
    padding-left: 3rem;
}

#shows>p{
    color: #988965;
    font-weight: 900;
    font-size: 1.2rem;
    text-decoration: underline;
}

.teatro{
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem;
}

#atr1, #atr2, #atr3{
    background-color: white;
    width: 45vw;
    border-radius: 0.8rem;
    transition: transform 0.3s ease;
}

#atr1:hover, #atr2:hover, #atr3:hover{
    transform: scale(1.05);
}



div.imagem{
    display: flex;
}

div.imagem img{
    width: 15rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 1rem;
}

.teatro p:nth-child(1){
    color: red;
    margin-top: 0;
}

.texto{
    margin-left: 1rem;
}

.texto p{
    margin-bottom: 0;
    margin-top: 0;
}

.texto p:nth-child(2){
    font-size: 0.9rem;
    color: rgb(92, 90, 90);
}

/* FOOTER */
footer{
    margin: 0;
    display: flex;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#foot{
    margin-left: 3rem;
    margin-top: 1rem;
}

#fontaw{
    margin-top: 1rem;
}

.icon{
    color: black;
    padding-left: 1rem;
    display: flex;
}

.icon p{
    margin: 1rem;
}



