*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

main{
    height: 30rem;
}

/* BEM VINDO */

div#b1{
    padding: 3rem;
    text-align: center;
    background-color: #f8722a;
    color: white;
}

#b1 p:nth-child(1){
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

/* QTS INGRESSOS PRECISA */

#b2 {
    margin-left: 26rem;
    margin-top: 2rem;
}

input#custoev{
    width: 8rem;
    margin-left: 5rem;
}

input#numing{
    width: 8rem;
    margin-left: 3rem;
    
}

input#btnc{
    width: 8rem;
    height: 1.6rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

#b3 {
    margin-left: 26rem;
    margin-top: 2rem;
}


/* PREMIAÇÃO ATORES */

/* #b4{
    background-color: #f8722a;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    height: 35rem;
    border-radius: 5rem 5rem 0 0;

}

#b4 p{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
} */
